.sign-in-button
  width 70%
  max-width 350px
.facebook-color
  background-color #3b5998 !important
.twitter-color
  background-color #55acee !important
.github-color
  background-color #333 !important
.google-color
  background-color #d34836 !important
